@import './variables.scss';

.goat-grid {
  padding: 30px 25px 25px 25px;

  @media (min-width: 1368px) {
    padding: 60px 35px 35px 35px;
  }
}

.goat-grid__header {
  margin-bottom: 35px;

  @media (min-width: 1368px) {
    margin-bottom: 55px;
  }
}

.goat-grid__header-heading {
  line-height: 1;
  margin: 0;
}

.goat-grid__header-purchased-count {
  @extend .goat-grid__header-heading;
  font-family: $brandon-ff;
  font-size: 68px;
  font-weight: 900;
  color: $red;
  margin-bottom: 7px;

  @media (min-width: 375px) {
    font-size: 76px;
  }

  @media (min-width: 1368px) {
    font-size: 116px;
    margin-bottom: 13px;
  }
}

.goat-grid__header-subtitle {
  @extend .goat-grid__header-heading;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;

  @media (min-width: 1133px) {
    font-size: 17px;
  }
}

.goat-grid__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -12px;
}

.goat {
  width: 44px;
  height: auto;
  margin: 12px;
}

.goat__filled {
  @extend .goat;
  background-size: 41px auto;
  background-position: center 8px;
  background-repeat: no-repeat;
}

.goat__filled--yellow {
  @extend .goat__filled;
  background-image: url('../images/fill-yellow.svg');
}

.goat__filled--pink {
  @extend .goat__filled;
  background-image: url('../images/fill-pink.svg');
}

.goat__filled--blue {
  @extend .goat__filled;
  background-image: url('../images/fill-blue.svg');
}

.goat__filled--brown {
  @extend .goat__filled;
  background-image: url('../images/fill-brown.svg');
}

.goat__filled--tan {
  @extend .goat__filled;
  background-image: url('../images/fill-tan.svg');
}

