@import './variables.scss';

.home__mobile {
  display: block;

  @media (min-width: 1133px) {
    display: none;
  }
}

.home__desktop {
  display: none;
  border: solid black 7px;
  margin: 40px;

  @media (min-width: 1133px) {
    display: flex;
    height: calc(100vh - 80px);
  }
}

.home__header {
  text-align: center;
  padding: 29px 25px 27px 25px;
  background-color: $blue;

  @media (min-width: 1133px) {
    padding: 40px 57px 50px 57px;
  }
}

.home__header h1 {
  font-family: $brandon-ff;
  font-size: 32px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 14px;

  @media (min-width: 375px) {
    font-size: 40px;
  }

  @media (min-width: 1133px) {
    font-size: 78px;
    margin-bottom: 0;
  }
}

.home__header hr {
  height: 7px;
  border: 0;
  background-color: black;
  margin-bottom: 23px;
}

.home__header h2 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: 1133px) {
    font-size: 17px;
    letter-spacing: 3px;
  }
}

.home__nav {
  border-top: solid black 7px;
}

.home__nav-button {
  color: white;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  margin: 0;
  padding: 0;
}

.home__nav-section {
  border-bottom: solid black 7px;
}

.home__nav-info,
.home__nav-about,
.home__nav-buy {
  @extend .home__nav-section;
}

.home__nav-info .home__nav-button {
  background-color: $pink;
}

.home__nav-about .home__nav-button {
  background-color: $yellow;
}

.home__nav-buy .home__nav-button {
  background-color: $red;
}

.home__nav-section-close {
  position: absolute;
  top: -35px;
  right: -10px;
  width: 28px;
  height: 28px;
  background-image: url('../images/close.svg');
  background-size: 28px 28px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

.home__desktop-col-left {
  width: 688px;
  flex-shrink: 0;
  border-right: solid black 7px;
  display: flex;
  flex-direction: column;

  @media (min-width: 1216px) {
    width: 746px;
  }
}

.home__desktop-col-right {
  overflow-y: scroll;
}

.home__desktop .home__header {
  border-bottom: solid black 7px;
}

.home__desktop-below-header {
  display: flex;
}

.home__desktop-below-header-col-left {
  flex-shrink: 0;
  width: 344px;
  border-right: solid black 7px;
  overflow-y: scroll;
}

.home__desktop-below-header-col-right {
  overflow-y: scroll;
}

