.info {
  margin: 50px 25px;
  text-align: center;
  font-size: 15px;
  position: relative;

  @media (min-width: 1133px) {
    margin: 35px 25px;
  }
}

.info__section {
}

.info__section-rule {
  width: 131px;
  height: 2px;
  background-color: black;
  margin: 30px auto;
  border: 0;
}

.info ul {
  padding: 0;
  list-style-type: none;
}

.info h4 {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: -0.3em;
}

.info__block-link {
  display: block;
  margin: 0 auto;
  line-height: 1.75;
}

.info__star-button {
  margin-bottom: 20px;
}

